# Virtual environment
laya/

# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*Spy.class

# Dependencies

.laya
.idea/
.vscode/

# macOS specific files
.DS_Store

# Ignore system-specific files
.python-version
.pythonpath
